In [1]:
pip install nselib

Collecting nselibNote: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.0 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

  Downloading nselib-0.7-py3-none-any.whl (18 kB)
Requirement already satisfied: scipy in c:\users\anushree\appdata\local\programs\python\python37\lib\site-packages (from nselib) (1.7.3)
Requirement already satisfied: requests in c:\users\anushree\appdata\local\programs\python\python37\lib\site-packages (from nselib) (2.28.2)
Requirement already satisfied: pandas in c:\users\anushree\appdata\roaming\python\python37\site-packages (from nselib) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in c:\users\anushree\appdata\local\programs\python\python37\lib\site-packages (from pandas->nselib) (2023.3)
Requirement already satisfied: numpy>=1.17.3 in c:\users\anushree\appdata\local\programs\python\python37\lib\site-packages (from pandas->nselib) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\anushree\appdata\roaming\python\python37\site-packages (from pandas->nselib) (2.8.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\anushree\appdata\local\programs\python\python37\lib\site-packages (from requests->nselib) (3.4)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\anushree\appdata\local\programs\python\python37\lib\site-packages (from requests->nselib) (3.0.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\anushree\appdata\local\programs\python\python37\lib\site-packages (from requests->nselib) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\anushree\appdata\local\programs\python\python37\lib\site-packages (from requests->nselib) (1.26.14)
Requirement already satisfied: six>=1.5 in c:\users\anushree\appdata\roaming\python\python37\site-packages (from python-dateutil>=2.7.3->pandas->nselib) (1.16.0)
Installing collected packages: nselib
Successfully installed nselib-0.7

In [4]:
import nselib

from nselib import capital_market

In [6]:
nselib.trading_holiday_calendar()

,Product,tradingDate,weekDay,description,Sr_no
0,Corporate Bonds,22-Jan-2024,Monday,Special Holiday,1
1,Corporate Bonds,26-Jan-2024,Friday,Republic Day,2
2,Corporate Bonds,19-Feb-2024,Monday,Chatrapati Shivaji Maharaj Jayanti,3
3,Corporate Bonds,08-Mar-2024,Friday,Mahashivratri,4
4,Corporate Bonds,25-Mar-2024,Monday,Holi,5
...,...,...,...,...,...
16,Securities Lending & Borrowing Schemes,12-Oct-2024,Saturday,Dussehra,17
17,Securities Lending & Borrowing Schemes,01-Nov-2024,Friday,Diwali Laxmi Pujan*,18
18,Securities Lending & Borrowing Schemes,02-Nov-2024,Saturday,Diwali-Balipratipada,19
19,Securities Lending & Borrowing Schemes,15-Nov-2024,Friday,Gurunanak Jayanti,20
20,Securities Lending & Borrowing Schemes,25-Dec-2024,Wednesday,Christmas,21

In [15]:
capital_market.bhav_copy_equities('19-04-2024')

,SYMBOL,SERIES,OPEN,HIGH,LOW,CLOSE,LAST,PREVCLOSE,TOTTRDQTY,TOTTRDVAL,TIMESTAMP,TOTALTRADES
0,182D031024,TB,96.40,96.40,96.40,96.40,96.40,96.95,2000,1.928000e+05,19-APR-2024,1
1,182D060624,TB,98.62,98.62,98.62,98.62,98.62,99.00,100,9.862000e+03,19-APR-2024,1
2,182D111024,TB,96.50,96.50,96.50,96.50,96.50,96.00,100,9.650000e+03,19-APR-2024,1
3,182D130624,TB,98.60,98.60,98.60,98.60,98.60,99.00,100,9.860000e+03,19-APR-2024,1
4,182D160524,TB,99.00,99.00,99.00,99.00,99.00,99.00,100,9.900000e+03,19-APR-2024,1
...,...,...,...,...,...,...,...,...,...,...,...,...
2714,ZOTA,EQ,481.00,488.60,473.25,481.50,480.00,486.25,17611,8.460389e+06,19-APR-2024,1976
2715,ZUARI,EQ,186.00,194.15,185.05,192.30,192.50,187.35,200481,3.824130e+07,19-APR-2024,8270
2716,ZUARIIND,EQ,338.20,364.00,333.50,360.65,360.00,352.15,191272,6.742249e+07,19-APR-2024,12349
2717,ZYDUSLIFE,EQ,920.25,933.10,913.20,922.15,925.00,937.00,1482222,1.366923e+09,19-APR-2024,100716
2718,ZYDUSWELL,EQ,1628.50,1637.00,1587.85,1631.80,1637.00,1628.50,21311,3.462264e+07,19-APR-2024,2943

In [16]:
capital_market.bhav_copy_with_delivery('19-04-2024') #more detailled than bhav_copy_equities()

,SYMBOL,SERIES,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,CLOSE_PRICE,PREV_CLOSE,TTL_TRD_QNTY,TURNOVER_LACS,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DATE1
0,20MICRONS,EQ,149.90,153.85,147.95,150.75,151.90,69517,104.51,3689,21023,30.24,19-Apr-2024
1,21STCENMGM,BE,53.30,53.30,51.25,52.25,52.30,26566,13.90,121,-,-,19-Apr-2024
2,360ONE,EQ,796.00,823.00,785.10,790.60,799.40,957760,7677.56,49341,286574,29.92,19-Apr-2024
3,3IINFOLTD,EQ,39.00,39.45,38.50,38.80,39.55,937264,365.18,4957,504713,53.85,19-Apr-2024
4,3MINDIA,EQ,29380.00,29749.95,29000.00,29660.50,29385.25,1820,533.62,1265,598,32.86,19-Apr-2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2658,ZOTA,EQ,481.00,488.60,473.25,481.50,486.25,17611,84.60,1976,8307,47.17,19-Apr-2024
2659,ZUARI,EQ,186.00,194.15,185.05,192.30,187.35,200481,382.41,8270,90550,45.17,19-Apr-2024
2660,ZUARIIND,EQ,338.20,364.00,333.50,360.65,352.15,191272,674.22,12349,72454,37.88,19-Apr-2024
2661,ZYDUSLIFE,EQ,920.25,933.10,913.20,922.15,937.00,1482222,13669.23,100716,774994,52.29,19-Apr-2024
2662,ZYDUSWELL,EQ,1628.50,1637.00,1587.85,1631.80,1628.50,21311,346.23,2943,13698,64.28,19-Apr-2024

In [17]:
capital_market.block_deals_data(period = '1M')   #Volumn is not reflected, Single Trade of Transaction more than or equal to 50,00,000 are transaction in terms of Rs10crore in value

,Date,Symbol,SecurityName,ClientName,Buy/Sell,QuantityTraded,TradePrice/Wght.Avg.Price,Remarks
0,22-MAR-2024,INFIBEAM,Infibeam Avenues Limited,ABHISHEK MAYUR DESAI,SELL,"60,00,000",35.00,-
1,22-MAR-2024,INFIBEAM,Infibeam Avenues Limited,SONAL DESAI,BUY,"60,00,000",35.00,-
2,22-MAR-2024,SHRIRAMFIN,Shriram Finance Limited,SHRIRAM OWNERSHIP TRUST,SELL,"77,78,000","2,310.00",-
3,22-MAR-2024,SHRIRAMFIN,Shriram Finance Limited,SHRIRAM VALUE SERVICES LIMITED,BUY,"77,78,000","2,310.00",-
4,22-MAR-2024,SOTL,Savita Oil Technologies L,MEHRA SYNDICATE,SELL,"20,73,000",408.00,-
5,22-MAR-2024,SOTL,Savita Oil Technologies L,SBI MUTUAL FUND,BUY,"20,73,000",408.00,-
6,22-MAR-2024,SUNDARMHLD,Sundaram Finance Hold Ltd,ARJUN RANGARAJAN,BUY,"9,00,000",191.00,-
7,22-MAR-2024,SUNDARMHLD,Sundaram Finance Hold Ltd,SRIVATS RAM,BUY,"6,83,000",191.00,-
8,22-MAR-2024,SUNDARMHLD,Sundaram Finance Hold Ltd,SUNDARAM FINANCE LTD,SELL,"55,56,529",191.00,-
9,22-MAR-2024,SUNDARMHLD,Sundaram Finance Hold Ltd,TRICHUR SUNDARAM SANTHANAM & FAMILY PRIVATE LI...,BUY,"39,73,529",191.00,-
10,27-MAR-2024,SAMHI,Samhi Hotels Limited,BLUE CHANDRA PTE. LTD,SELL,"1,01,73,756",206.10,-
11,27-MAR-2024,SAMHI,Samhi Hotels Limited,DNB FUND - ASIAN SMALL CAP,BUY,"3,94,700",206.10,-
12,27-MAR-2024,SAMHI,Samhi Hotels Limited,DNB FUND - INDIA,BUY,"3,44,600",206.10,-
13,27-MAR-2024,SAMHI,Samhi Hotels Limited,SOCIETE GENERALE,BUY,"11,51,677",206.10,-
14,27-MAR-2024,SAMHI,Samhi Hotels Limited,TT ASIA-PACIFIC EQUITY FUND,BUY,"82,82,779",206.10,-
15,27-MAR-2024,VIJAYA,Vijaya Diagnostic Cen Ltd,KOTAK MAHINDRA MUTUAL FUND,BUY,"8,10,000",630.00,-
16,27-MAR-2024,VIJAYA,Vijaya Diagnostic Cen Ltd,SUNIL CHANDRA KONDAPALLY,SELL,"5,10,000",630.00,-
17,27-MAR-2024,VIJAYA,Vijaya Diagnostic Cen Ltd,SURENDRANATH REDDY SURA,SELL,"3,00,000",630.00,-
18,28-MAR-2024,DHANI,Dhani Services Limited,ACM GLOBAL FUND VCC,BUY,"1,00,00,000",39.20,-
19,28-MAR-2024,DHANI,Dhani Services Limited,INUUS DEVELOPERS PRIVATE LIMITED,SELL,"1,00,00,000",39.20,-
20,28-MAR-2024,SHRIRAMFIN,Shriram Finance Limited,SANLAM LIFE INSURANCE LIMITED,SELL,"59,80,000","2,386.00",-
21,28-MAR-2024,SHRIRAMFIN,Shriram Finance Limited,SHRIRAM VALUE SERVICES LIMITED,BUY,"59,80,000","2,386.00",-
22,09-APR-2024,AXISBANK,Axis Bank Limited,STICHTING CUST ROBECO INST RE:CALYP,SELL,"4,58,401","1,076.05",-
23,09-APR-2024,AXISBANK,Axis Bank Limited,STICHTING PENSIOENFONDS RAIL & OPENBAAR VERVOER,BUY,"4,58,401","1,076.05",-
24,09-APR-2024,HCLTECH,HCL Technologies Ltd.,STICHTING CUST ROBECO INST RE:CALYP,SELL,"4,46,825","1,540.05",-
25,09-APR-2024,HCLTECH,HCL Technologies Ltd.,STICHTING PENSIOENFONDS RAIL & OPENBAAR VERVOER,BUY,"4,46,825","1,540.05",-
26,09-APR-2024,HDFCBANK,HDFC Bank Ltd.,STICHTING CUST ROBECO INST RE:CALYP,SELL,"4,09,783","1,546.60",-
27,09-APR-2024,HDFCBANK,HDFC Bank Ltd.,STICHTING PENSIOENFONDS RAIL & OPENBAAR VERVOER,BUY,"4,09,783","1,546.60",-
28,09-APR-2024,M&M,Mah & Mah Ltd.,STICHTING CUST ROBECO INST RE:CALYP,SELL,"2,80,386","2,078.10",-
29,09-APR-2024,M&M,Mah & Mah Ltd.,STICHTING PENSIOENFONDS RAIL & OPENBAAR VERVOER,BUY,"2,80,386","2,078.10",-
30,09-APR-2024,MGL,Mahanagar Gas Ltd.,STICHTING CUST ROBECO INST RE:CALYP,SELL,"1,33,121","1,483.10",-
31,09-APR-2024,MGL,Mahanagar Gas Ltd.,STICHTING PENSIOENFONDS RAIL & OPENBAAR VERVOER,BUY,"1,33,121","1,483.10",-
32,09-APR-2024,PETRONET,Petronet LNG Limited,STICHTING CUST ROBECO INST RE:CALYP,SELL,"6,05,855",281.00,-
33,09-APR-2024,PETRONET,Petronet LNG Limited,STICHTING PENSIOENFONDS RAIL & OPENBAAR VERVOER,BUY,"6,05,855",281.00,-

In [19]:
capital_market.bulk_deal_data(period = '1M')  #Involves atleast 0.5% of the total listed shares of a company

,Date,Symbol,SecurityName,ClientName,Buy/Sell,QuantityTraded,TradePrice/Wght.Avg.Price,Remarks
0,21-MAR-2024,ADROITPP,Adroit Infotech Limited,AGRAWAL AGRIM,BUY,"1,75,000",4.05,-
1,21-MAR-2024,ADROITPP,Adroit Infotech Limited,AGRAWAL AGRIM,BUY,"1,75,000",4.05,-
2,21-MAR-2024,ADROITPP,Adroit Infotech Limited,KAILASHBEN ASHOKKUMAR PATEL,BUY,"2,88,000",4.05,-
3,21-MAR-2024,ADROITPP,Adroit Infotech Limited,KAILASHBEN ASHOKKUMAR PATEL,BUY,"2,88,000",4.05,-
4,21-MAR-2024,ADROITPP,Adroit Infotech Limited,MANSI SHARE AND STOCK ADVISORS PVT LTD,SELL,"2,48,390",4.05,-
...,...,...,...,...,...,...,...,...
1546,18-APR-2024,TPHQ,Teamo Productions HQ Ltd,VRINDAA ADVANCED MATERIALS LIMITED,SELL,"1,00,00,000",1.40,-
1547,18-APR-2024,VIRINCHI,Virinchi Limited,JAINAM BROKING LIMITED,BUY,"7,01,673",36.21,-
1548,18-APR-2024,VIRINCHI,Virinchi Limited,JAINAM BROKING LIMITED,BUY,"7,01,673",36.21,-
1549,18-APR-2024,VIRINCHI,Virinchi Limited,JAINAM BROKING LIMITED,SELL,"2,000",36.94,-
1550,18-APR-2024,VIRINCHI,Virinchi Limited,JAINAM BROKING LIMITED,SELL,"2,000",36.94,-

In [27]:
capital_market.price_volume_and_deliverable_position_data('SBIN', period='1M')

,Symbol,Series,Date,PrevClose,OpenPrice,HighPrice,LowPrice,LastPrice,ClosePrice,AveragePrice,TotalTradedQuantity,TurnoverInRs,No.ofTrades,DeliverableQty,%DlyQttoTradedQty
0,SBIN,EQ,21-Mar-2024,736.25,742.00,750.60,740.55,742.80,744.30,745.38,"1,51,61,161","11,30,08,17,864.00","2,97,397","55,86,102",36.84
1,SBIN,EQ,22-Mar-2024,744.30,743.85,748.80,741.40,746.50,746.70,746.09,"1,55,35,921","11,59,11,96,217.50","2,61,750","71,43,052",45.98
2,SBIN,EQ,26-Mar-2024,746.70,743.05,747.85,738.50,741.80,740.05,741.15,"1,46,78,342","10,87,88,01,267.10","4,71,853","79,37,403",54.08
3,SBIN,EQ,27-Mar-2024,740.05,743.00,745.85,730.20,736.50,733.30,735.91,"3,00,88,789","22,14,26,32,347.65","3,03,834","1,53,97,825",51.17
4,SBIN,EQ,28-Mar-2024,733.30,737.75,759.55,736.90,752.95,752.35,750.83,"2,17,05,116","16,29,67,64,834.75","2,50,615","89,96,115",41.45
5,SBIN,T0,28-Mar-2024,733.30,734.20,752.60,734.20,742.20,752.35,742.54,16,"11,880.70",7,15,93.75
6,SBIN,EQ,01-Apr-2024,752.35,759.05,761.50,752.10,758.00,758.30,757.16,"99,49,971","7,53,36,78,627.05","1,55,072","35,87,578",36.06
7,SBIN,EQ,02-Apr-2024,758.30,758.20,768.75,753.35,765.95,766.40,761.63,"1,57,13,063","11,96,75,15,949.70","1,99,522","71,22,583",45.33
8,SBIN,T0,02-Apr-2024,758.30,763.00,763.00,761.00,761.00,766.40,761.50,4,"3,046.00",4,2,50.00
9,SBIN,EQ,03-Apr-2024,766.40,764.90,772.60,760.15,771.00,771.05,767.84,"1,91,36,981","14,69,42,03,509.30","2,77,412","1,03,92,587",54.31
10,SBIN,EQ,04-Apr-2024,771.05,775.00,775.30,758.10,760.80,759.30,763.24,"1,58,89,530","12,12,74,83,574.70","2,63,762","52,52,262",33.05
11,SBIN,T0,04-Apr-2024,771.05,761.00,761.00,761.00,761.00,759.30,761.00,2,"1,522.00",1,2,100.00
12,SBIN,EQ,05-Apr-2024,759.30,757.95,767.70,752.60,765.90,764.75,760.39,"99,39,620","7,55,79,66,836.05","1,59,848","32,84,683",33.05
13,SBIN,EQ,08-Apr-2024,764.75,766.05,770.00,761.80,767.60,768.30,766.03,"97,97,174","7,50,49,31,342.05","1,93,392","45,73,077",46.68
14,SBIN,T0,08-Apr-2024,764.75,762.00,762.00,762.00,762.00,768.30,762.00,1,762.00,1,1,100.00
15,SBIN,EQ,09-Apr-2024,768.30,768.45,772.45,761.10,765.05,764.20,766.79,"74,65,892","5,72,47,66,013.05","1,27,868","22,70,132",30.41
16,SBIN,EQ,10-Apr-2024,764.20,766.50,780.70,763.65,777.40,779.05,772.90,"1,45,30,669","11,23,07,49,541.10","2,01,570","60,83,772",41.87
17,SBIN,EQ,12-Apr-2024,779.05,777.25,779.50,764.80,766.55,766.30,772.32,"1,44,08,722","11,12,81,57,762.80","2,45,294","75,25,415",52.23
18,SBIN,EQ,15-Apr-2024,766.30,759.80,763.30,748.75,758.90,757.50,756.89,"1,13,56,572","8,59,57,00,637.00","2,03,154","33,94,129",29.89
19,SBIN,EQ,16-Apr-2024,757.50,751.25,754.90,744.40,752.80,751.70,750.07,"1,33,38,991","10,00,52,42,780.00","2,02,899","57,69,212",43.25
20,SBIN,EQ,18-Apr-2024,751.70,752.05,759.95,742.00,746.10,744.80,750.48,"1,45,89,648","10,94,92,56,502.45","2,71,371","58,20,263",39.89
21,SBIN,EQ,19-Apr-2024,744.80,734.50,752.00,732.05,750.00,750.45,743.33,"1,08,86,554","8,09,23,49,855.55","1,91,080","34,83,310",32.00

In [31]:
capital_market.equity_list() #entire list of companies in NSE Data

,SYMBOL,NAME OF COMPANY,SERIES,DATE OF LISTING,FACE VALUE
0,20MICRONS,20 Microns Limited,EQ,06-OCT-2008,5
1,21STCENMGM,21st Century Management Services Limited,BE,03-MAY-1995,10
2,360ONE,360 ONE WAM LIMITED,EQ,19-SEP-2019,1
3,3IINFOLTD,3i Infotech Limited,EQ,22-OCT-2021,10
4,3MINDIA,3M India Limited,EQ,13-AUG-2004,10
...,...,...,...,...,...
1963,ZOTA,Zota Health Care LImited,EQ,19-AUG-2019,10
1964,ZUARI,Zuari Agro Chemicals Limited,EQ,27-NOV-2012,10
1965,ZUARIIND,ZUARI INDUSTRIES LIMITED,EQ,12-APR-1995,10
1966,ZYDUSLIFE,Zydus Lifesciences Limited,EQ,18-APR-2000,1
1967,ZYDUSWELL,Zydus Wellness Limited,EQ,13-NOV-2009,10

In [32]:
capital_market.fno_equity_list() #all the stocks and indicies which have Futureds and options

                             Company_Name      Symbol       APR-24
0    NIFTY MID SELECT                      MIDCPNIFTY  75
1    NIFTY FINANCIAL SERVICES              FINNIFTY    40
2    NIFTY BANK                            BANKNIFTY   15
3    NIFTY 50                              NIFTY       50
4    AMBUJA CEMENTS LTD                    AMBUJACEM          1800
..                                    ...         ...          ...
181  TATA CONSULTANCY SERV LT              TCS                 175
182  ALKEM LABORATORIES LTD.               ALKEM               200
183  UNITED SPIRITS LIMITED                MCDOWELL-N          700
184  POLYCAB INDIA LIMITED                 POLYCAB             100
185  TECH MAHINDRA LIMITED                 TECHM               600

[186 rows x 3 columns]

In [33]:
capital_market.nifty50_equity_list()

,Company Name,Industry,Symbol
0,Adani Enterprises Ltd.,Metals & Mining,ADANIENT
1,Adani Ports and Special Economic Zone Ltd.,Services,ADANIPORTS
2,Apollo Hospitals Enterprise Ltd.,Healthcare,APOLLOHOSP
3,Asian Paints Ltd.,Consumer Durables,ASIANPAINT
4,Axis Bank Ltd.,Financial Services,AXISBANK
5,Bajaj Auto Ltd.,Automobile and Auto Components,BAJAJ-AUTO
6,Bajaj Finance Ltd.,Financial Services,BAJFINANCE
7,Bajaj Finserv Ltd.,Financial Services,BAJAJFINSV
8,Bharat Petroleum Corporation Ltd.,Oil Gas & Consumable Fuels,BPCL
9,Bharti Airtel Ltd.,Telecommunication,BHARTIARTL
10,Britannia Industries Ltd.,Fast Moving Consumer Goods,BRITANNIA
11,Cipla Ltd.,Healthcare,CIPLA
12,Coal India Ltd.,Oil Gas & Consumable Fuels,COALINDIA
13,Divi's Laboratories Ltd.,Healthcare,DIVISLAB
14,Dr. Reddy's Laboratories Ltd.,Healthcare,DRREDDY
15,Eicher Motors Ltd.,Automobile and Auto Components,EICHERMOT
16,Grasim Industries Ltd.,Construction Materials,GRASIM
17,HCL Technologies Ltd.,Information Technology,HCLTECH
18,HDFC Bank Ltd.,Financial Services,HDFCBANK
19,HDFC Life Insurance Company Ltd.,Financial Services,HDFCLIFE
20,Hero MotoCorp Ltd.,Automobile and Auto Components,HEROMOTOCO
21,Hindalco Industries Ltd.,Metals & Mining,HINDALCO
22,Hindustan Unilever Ltd.,Fast Moving Consumer Goods,HINDUNILVR
23,ICICI Bank Ltd.,Financial Services,ICICIBANK
24,ITC Ltd.,Fast Moving Consumer Goods,ITC
25,IndusInd Bank Ltd.,Financial Services,INDUSINDBK
26,Infosys Ltd.,Information Technology,INFY
27,JSW Steel Ltd.,Metals & Mining,JSWSTEEL
28,Kotak Mahindra Bank Ltd.,Financial Services,KOTAKBANK
29,LTIMindtree Ltd.,Information Technology,LTIM
30,Larsen & Toubro Ltd.,Construction,LT
31,Mahindra & Mahindra Ltd.,Automobile and Auto Components,M&M
32,Maruti Suzuki India Ltd.,Automobile and Auto Components,MARUTI
33,NTPC Ltd.,Power,NTPC
34,Nestle India Ltd.,Fast Moving Consumer Goods,NESTLEIND
35,Oil & Natural Gas Corporation Ltd.,Oil Gas & Consumable Fuels,ONGC
36,Power Grid Corporation of India Ltd.,Power,POWERGRID
37,Reliance Industries Ltd.,Oil Gas & Consumable Fuels,RELIANCE
38,SBI Life Insurance Company Ltd.,Financial Services,SBILIFE
39,Shriram Finance Ltd.,Financial Services,SHRIRAMFIN
40,State Bank of India,Financial Services,SBIN
41,Sun Pharmaceutical Industries Ltd.,Healthcare,SUNPHARMA
42,Tata Consultancy Services Ltd.,Information Technology,TCS
43,Tata Consumer Products Ltd.,Fast Moving Consumer Goods,TATACONSUM
44,Tata Motors Ltd.,Automobile and Auto Components,TATAMOTORS
45,Tata Steel Ltd.,Metals & Mining,TATASTEEL
46,Tech Mahindra Ltd.,Information Technology,TECHM
47,Titan Company Ltd.,Consumer Durables,TITAN
48,UltraTech Cement Ltd.,Construction Materials,ULTRACEMCO
49,Wipro Ltd.,Information Technology,WIPRO

In [36]:
capital_market.index_data('NIFTY BANK',period ='1M')

,TIMESTAMP,INDEX_NAME,OPEN_INDEX_VAL,HIGH_INDEX_VAL,CLOSE_INDEX_VAL,LOW_INDEX_VAL,TRADED_QTY,TURN_OVER
0,21-03-2024,NIFTY BANK,46674.85,46990.25,46684.90,46570.15,150392246,8896.96
1,22-03-2024,NIFTY BANK,46634.90,46974.15,46863.75,46566.80,172184807,10851.42
2,26-03-2024,NIFTY BANK,46552.95,46788.35,46600.20,46529.05,171655734,11171.03
3,27-03-2024,NIFTY BANK,46643.45,46956.10,46785.95,46643.45,285050400,16539.74
4,28-03-2024,NIFTY BANK,46827.85,47440.45,47124.60,46827.85,347979603,13594.54
5,01-04-2024,NIFTY BANK,47391.05,47646.80,47578.25,47373.10,134089417,6573.00
6,02-04-2024,NIFTY BANK,47490.75,47707.35,47545.45,47408.55,183398624,10412.26
7,03-04-2024,NIFTY BANK,47350.25,47676.95,47624.25,47279.80,283779413,13792.53
8,04-04-2024,NIFTY BANK,48086.20,48254.65,48060.80,47712.70,324271925,18895.59
9,05-04-2024,NIFTY BANK,48104.65,48557.40,48493.05,47894.50,214305236,11909.32
10,05-04-2024,NIFTY BANK,48104.65,48557.40,48493.05,47894.50,214305236,11909.32
11,08-04-2024,NIFTY BANK,48586.75,48716.95,48581.70,48424.65,263381555,7900.46
12,09-04-2024,NIFTY BANK,48810.80,48960.75,48730.55,48568.25,147583296,7024.79
13,10-04-2024,NIFTY BANK,48879.55,49057.40,48986.60,48669.25,247065747,9611.82
14,12-04-2024,NIFTY BANK,48671.20,48882.65,48564.55,48477.55,207985339,10643.84
15,15-04-2024,NIFTY BANK,48057.50,48255.50,47773.25,47725.80,197115142,7882.76
16,16-04-2024,NIFTY BANK,47436.70,47609.00,47484.80,47316.55,186069576,7841.45
17,18-04-2024,NIFTY BANK,47592.70,47829.75,47069.45,46982.15,186371057,10326.12
18,19-04-2024,NIFTY BANK,46744.95,47668.70,47574.15,46579.05,164580371,9513.25

In [37]:
capital_market.india_vix_data(period ='1M')

,TIMESTAMP,INDEX_NAME,OPEN_INDEX_VAL,CLOSE_INDEX_VAL,HIGH_INDEX_VAL,LOW_INDEX_VAL,PREV_CLOSE,VIX_PTS_CHG,VIX_PERC_CHG
0,21-MAR-2024,INDIA VIX,13.4725,12.5125,13.4725,12.3425,13.4725,-0.9600,-7.125626
1,22-MAR-2024,INDIA VIX,12.5125,12.2200,13.0475,11.8100,12.5125,-0.2925,-2.337662
2,26-MAR-2024,INDIA VIX,12.2200,12.8200,13.1025,12.0850,12.2200,0.6000,4.909984
3,27-MAR-2024,INDIA VIX,12.8200,12.7025,13.0100,12.5325,12.8200,-0.1175,-0.916537
4,28-MAR-2024,INDIA VIX,12.7025,12.8325,13.1800,12.2600,12.7025,0.1300,1.023421
5,01-APR-2024,INDIA VIX,12.8325,12.0825,13.3575,12.0050,12.8325,-0.7500,-5.844535
6,02-APR-2024,INDIA VIX,12.0825,11.6525,12.3050,11.5975,12.0825,-0.4300,-3.558866
7,03-APR-2024,INDIA VIX,11.6525,11.3725,11.8275,11.3125,11.6525,-0.2800,-2.402918
8,04-APR-2024,INDIA VIX,11.3725,11.2200,11.8375,10.8600,11.3725,-0.1525,-1.340954
9,05-APR-2024,INDIA VIX,11.2200,11.3375,11.6825,11.0350,11.2200,0.1175,1.047237
10,08-APR-2024,INDIA VIX,11.3375,11.6100,11.7425,11.1325,11.3375,0.2725,2.403528
11,09-APR-2024,INDIA VIX,11.6100,11.3550,11.6125,10.6175,11.6100,-0.2550,-2.196382
12,10-APR-2024,INDIA VIX,11.3550,11.1075,11.3550,10.9850,11.3550,-0.2475,-2.179657
13,12-APR-2024,INDIA VIX,11.1075,11.5325,11.6050,11.1075,11.1075,0.4250,3.826244
14,15-APR-2024,INDIA VIX,11.5325,12.4675,12.7375,11.3075,11.5325,0.9350,8.107522
15,16-APR-2024,INDIA VIX,12.4675,12.6150,12.9250,12.3400,12.4675,0.1475,1.183076
16,18-APR-2024,INDIA VIX,12.6150,13.0400,13.3875,12.0275,12.6150,0.4250,3.369005
17,19-APR-2024,INDIA VIX,13.0400,13.4575,14.4125,11.9150,13.0400,0.4175,3.201687

In [38]:
capital_market.market_watch_all_indices()

,key,index,indexSymbol,last,variation,percentChange,open,high,low,previousClose,...,dy,declines,advances,unchanged,perChange365d,perChange30d,previousDay,oneWeekAgo,oneMonthAgo,oneYearAgo
0,BROAD MARKET INDICES,NIFTY 50,NIFTY 50,22147.00,151.15,0.69,21861.50,22179.55,21777.65,21995.85,...,1.2,19,30,1,24.84,0.82,21995.85,22519.40,22011.95,17624.05
1,BROAD MARKET INDICES,NIFTY NEXT 50,NIFTY NEXT 50,61887.90,-101.30,-0.16,61469.45,62051.70,60647.25,61989.20,...,1.15,33,16,1,61.18,7.99,61989.20,63067.85,58918.30,38426.05
2,BROAD MARKET INDICES,NIFTY 100,NIFTY 100,22859.80,119.60,0.53,22591.10,22896.50,22469.05,22740.20,...,1.16,53,46,2,30.28,2.09,22740.20,23254.90,22538.90,17455.25
3,BROAD MARKET INDICES,NIFTY 200,NIFTY 200,12325.85,43.15,0.35,12197.30,12350.75,12119.00,12282.70,...,1.1,118,80,3,33.84,2.78,12282.70,12559.30,12114.50,9171.85
4,BROAD MARKET INDICES,NIFTY 500,NIFTY 500,20385.20,60.50,0.30,20178.25,20428.40,20038.35,20324.70,...,1.05,292,205,4,36.8,3.64,20324.70,20745.50,19897.40,14847.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,FIXED INCOME INDICES,NIFTY 10 YR BENCHMARK G-SEC (CLEAN PRICE),NIFTY GS 10YR CLN,869.21,-1.30,-0.14,870.51,870.51,868.42,870.51,...,,NaN,NaN,NaN,-0.04,-0.53,870.91,869.96,877.67,873.75
73,FIXED INCOME INDICES,NIFTY 4-8 YR G-SEC INDEX,NIFTY GS 4 8YR,2789.54,-3.86,-0.13,2793.95,2793.95,2788.24,2793.40,...,,NaN,NaN,NaN,6.68,0.21,2794.77,2793.10,2792.67,2626.21
74,FIXED INCOME INDICES,NIFTY 11-15 YR G-SEC INDEX,NIFTY GS 11 15YR,2836.75,-5.34,-0.18,2842.65,2842.65,2834.82,2842.09,...,,NaN,NaN,NaN,8.59,0.13,2842.98,2842.88,2847.21,2628.63
75,FIXED INCOME INDICES,NIFTY 15 YR AND ABOVE G-SEC INDEX,NIFTY GS 15YRPLUS,3108.15,-7.12,-0.22,3115.89,3120.16,3101.39,3115.27,...,,NaN,NaN,NaN,8.75,-0.77,3117.87,3115.74,3153.68,2874.06
76,FIXED INCOME INDICES,NIFTY COMPOSITE G-SEC INDEX,NIFTY GS COMPSITE,2655.50,-5.50,-0.20,2661.53,2662.44,2653.74,2661.00,...,,NaN,NaN,NaN,7.37,-0.07,2662.95,2658.69,2671.55,2487.69

In [39]:
capital_market.short_selling_data(period ='1M')

          Date      Symbol                   SecurityName   Quantity
0  20-Mar-2024         PEL        PIRAMAL ENTERPRISES LTD      2,170
1  20-Mar-2024  BAJAJ-AUTO             BAJAJ AUTO LIMITED     17,000
2  01-Apr-2024  HINDCOPPER       HINDUSTAN COPPER LIMITED     21,200
3  01-Apr-2024         IGL           INDRAPRASTHA GAS LTD      1,375
4  12-Apr-2024      AUBANK  AU SMALL FINANCE BANK LIMITED     40,000
5  12-Apr-2024        IDEA          IDEA CELLULAR LIMITED  24,00,000
6  15-Apr-2024        IDEA          IDEA CELLULAR LIMITED  24,00,000
7  16-Apr-2024    TATACHEM             TATA CHEMICALS LTD     13,700

In [47]:
from nselib import derivatives
derivatives.future_price_volume_data(symbol='SBIN', instrument='FUTSTK', from_date='01-01-2024', to_date='10-04-2024')

,TIMESTAMP,INSTRUMENT,SYMBOL,EXPIRY_DT,STRIKE_PRICE,OPTION_TYPE,MARKET_TYPE,OPENING_PRICE,TRADE_HIGH_PRICE,TRADE_LOW_PRICE,CLOSING_PRICE,LAST_TRADED_PRICE,PREV_CLS,SETTLE_PRICE,TOT_TRADED_QTY,TOT_TRADED_VAL,OPEN_INT,CHANGE_IN_OI,MARKET_LOT,UNDERLYING_VALUE
0,28-Mar-2024,FUTSTK,SBIN,25-Apr-2024,0.00,XX,N,742.90,762.95,742.90,756.55,757.45,740.20,756.55,72570000,54773806350.00,88485000,12232500.00,1500,752.35
1,28-Mar-2024,FUTSTK,SBIN,28-Mar-2024,0.00,XX,N,737.95,758.20,737.35,752.10,755.95,734.80,752.35,36033000,26990632800.00,4747500,-19144500.00,1500,752.35
2,28-Mar-2024,FUTSTK,SBIN,30-May-2024,0.00,XX,N,744.60,763.85,744.15,757.40,757.65,741.05,757.40,2088000,1576296750.00,2941500,595500.00,1500,752.35
3,27-Mar-2024,FUTSTK,SBIN,25-Apr-2024,0.00,XX,N,752.55,752.55,737.25,740.20,743.25,747.70,740.20,47809500,35592400125.00,76252500,20545500.00,1500,733.30
4,27-Mar-2024,FUTSTK,SBIN,28-Mar-2024,0.00,XX,N,746.25,749.75,731.50,734.80,736.90,742.30,734.80,37480500,27730427325.00,23892000,-18718500.00,1500,733.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,02-Apr-2024,FUTSTK,SBIN,27-Jun-2024,0.00,XX,N,764.95,777.40,761.60,775.45,774.40,764.90,775.45,150000,115666425.00,178500,34500.00,1500,744.80
206,02-Apr-2024,FUTSTK,SBIN,30-May-2024,0.00,XX,N,761.45,774.85,760.00,772.90,772.15,762.75,772.90,1767000,1357375350.00,3475500,331500.00,1500,744.80
207,01-Apr-2024,FUTSTK,SBIN,25-Apr-2024,0.00,XX,N,757.60,765.70,755.55,761.70,761.50,756.55,761.70,28585500,21741080550.00,89092500,607500.00,1500,758.30
208,01-Apr-2024,FUTSTK,SBIN,27-Jun-2024,0.00,XX,N,768.30,768.30,760.00,764.90,765.40,766.05,764.90,367500,280944975.00,144000,144000.00,1500,758.30
209,01-Apr-2024,FUTSTK,SBIN,30-May-2024,0.00,XX,N,762.65,766.10,757.40,762.75,762.30,757.40,762.75,2313000,1761409050.00,3144000,202500.00,1500,758.30